
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 500;
    line-height: 1.5;
}
.container{
    display:flex;
}

#padding{
    padding-bottom:260px;
    padding-left:15px;
}
h1{
    font-size:50px;
}
h2{
    font-size:40px;
}
.separate-width{
    width:45%;
}
.separate-width img{
    padding-top:50px;
}
.orange-color{
    color:orange;
}
.button{
    background-image:linear-gradient(orange,tomato);
    padding:10px 25px;
    border-radius:20px;
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-weight: 600;
    box-shadow: 1px 2px 10px 5px rgb(206, 199, 199);
}

.separate-width img{
    width:450px;
    margin-left: 80px;
}
.bg-image{
    background-image:url(./images/./7.png); 
    border:none;  
}
.bg-image img{
    margin-bottom:0;
    
}
.separate-width h3{
    padding-top: 70px;
}
#recipe-postion{
    margin-left:25%;
    margin-right:25%;
    text-align: center; 
    margin-top:10%
}

/* 4th */
.new-width{
    width:33.33%
}

.border-style{
    padding-left:10px;
    width:52%;
    margin-left:2%;
    margin-right:2%;
    border-radius: 20px;
    box-shadow: 10px 10px 20px gray;
}
.new-width img{
    padding-left:20px;
    width:300px;
    margin-left:20px;
    margin-top: 50px;
}
.recipe-title-style{
    margin-left:27px;
    margin-right:30px;
    padding-right:20px;
    padding-left:10px;
}
 .bottom-padding{
    padding-bottom:100px;
}

.footer-class{
    text-align:center;
    background-color:black;
    color:white;
    padding:30px 0px 30px 0px;
} */
h1{
    color:rgb(255, 255, 255);
    text-align: center;
    font-size:50px;
}

 
.background-trend,h1{
    text-align: center;
    color:rgb(0, 0, 0);
    
}
.link-style{
    text-align: center;
}
.download{
    margin-left: 60px;
    padding-left:90px;
    padding-top: 20px;
}
#allign{
    text-align: center;
}
.form{
    border: 2px solid rgb(99, 95, 95);
    border-radius: 15px;
    padding: 9px 10px;
}
