html{
    box-sizing:border-box; ;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    display:flex;
}
#padding{
    padding-bottom:260px;
    padding-left:15px;
}
h2{
    font-size:40px;
}
.separate-width{
    width:50%;
}
.separate-width img{
    padding-top:50px;
}
.orange-color{
    color:orange;
}
.button{
    background-image:linear-gradient(orange,tomato);
    padding:4px 15px;
    border-radius:20px;
    text-decoration: none;
    color:white;
    font-weight: 400;
}

.separate-width img{
    width:450px;
    margin-left: 80px;
}
.bg-image{
    background-image:url(./images/./7.png);   
}
.bg-image img{
    margin-bottom:0;
    
}
.separate-width h3{
    padding-top: 70px;
}
#recipe-postion{
    text-align: center;
    margin-left:25%;
    margin-right:25%;
    margin-top:10%
}

/* 4th */
